* {
	font-family: "Noto Sans", sans-serif;
}

body {
	background-color: #edc4a3;
}

.container {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}

.form {
	background-color: #dcdcdc;
	padding: 20px;
	width: 300px;
	margin: 40px auto;
	border-radius: 4px;
	margin-left: auto;
}

button {
	border: none;
	background-color: transparent;
	padding: 8px;
	color: #a30000;
	cursor: pointer;
	border-radius: 4px;
	font-size: 32px;
	margin: auto;
	transition-duration: 0.5s;
}
button:active {
	box-shadow: inset 0px 0px 49px 0px #560000;
	color: white;
	text-shadow: 0 0 4px white;
}
button:hover {
	box-shadow: inset 0px 0px 49px 0px #560000;
	color: white;
	text-shadow: 0 0 4px white;
}

.form input {
	color: #1e1e1e;
	margin: 5px 0;
	padding: 5px;
	display: block;
	width: 100%;
	font-size: 16px;
	box-sizing: border-box;
	border-radius: 4px;
	border: none;
}

input[type="submit"] {
	border: none;
	background-color: #186;
	color: #dcdcdc;
	padding: 10px;
	margin-top: 25px;
	border-radius: 4px;
	cursor: pointer;
	transition-duration: 0.5s;
}

input[type="submit"]:hover {
	color: white;
	box-shadow: inset 0px 0px 49px 0px #98f2b9;
	text-shadow: 0 0 16px white;
}
input[type="submit"]:active {
	color: white;
	box-shadow: inset 0px 0px 49px 0px #98f2b9;
	text-shadow: 0 0 16px white;
}

h1 {
	border-radius: 4px;
	color: #1e1e1e;
	font-size: 40px;
	max-width: 500px;
	text-align: center;
	padding: 20px;
	background-color: #dcdcdc;
	margin: 10px auto 10px;
}

#eventsContainer {
	background-color: #dcdcdc;
	border-radius: 4px;
	padding: 20px;
	max-width: 500px;
	margin: 0 auto;
	display: flex;
	gap: 20px;
	flex-direction: column;
}

.event {
	border: solid 1px #b3b3b3;
	border-radius: 4px;
	box-sizing: border-box;
	color: #1e1e1e;
	padding: 10px;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	overflow-wrap: break-word;
}

.event .days {
	text-align: center;
	width: 100px;
}

.event .days .days-number {
	font-size: 30px;
	font-weight: bold;
	display: block;
}

.event .event-name {
	padding: 10px;
	max-width: 100px;
	/* margin: 10px auto 10px auto; */
}

.event .event-date {
	padding: 10px;
	width: 100px;
}
